<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication_phoenix_journey">

    <!-- Configuración general del manifiesto -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Phoenix journey"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhoenixJourney"
        tools:targetApi="31">

        <!-- Actividad principal (Pantalla de inicio) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <!-- Actividad de registro -->
        <activity android:name=".RegisterActivity"
            android:exported="true" />

        <!-- Actividad de objetivo principal -->
        <activity
            android:name=".ObjetivoPrincipalActivity"
            android:exported="true" />

        <!-- Actividad para agregar datos -->
        <activity
            android:name=".AgregarDatosActivity"
            android:exported="true" />

        <!-- Actividad para seleccionar nivel -->
        <activity android:name=".SeleccionNivelActivity"
            android:exported="true" />

        <activity
            android:name=".LoginActivity"
            android:exported="true" />



        <activity android:name=".ProgresoCorporalActivity"
            />
            />

        <activity android:name=".NutrientesActivityMantenimiento" />

        <!-- NutrientesActivityVolumen -->
        <activity android:name=".NutrientesActivityVolumen" />

        <!-- NutrientesActivityDeficit -->
        <activity android:name=".NutrientesActivityDefinicion" />
        <activity android:name=".EditarRutinaActivity"/>
        <activity android:name=".AñadirEjercicioActivity"/>
        <activity android:name=".AmigosActivity"/>
        <activity android:name=".FotosProgresoActivity"/>
        <activity android:name=".EjerHombroActivity"/>
        <activity android:name=".EjerBicepsActivity"/>
        <activity android:name=".EjerAbsActivity"/>
        <activity android:name=".EjerCuadricepsActivity"/>
        <activity android:name=".EjerEspaldaActivity"/>
        <activity android:name=".EjerFemoralesActivity"/>
        <activity android:name=".EjerTricepsActivity"/>
        <activity android:name=".EjerPechoActivity"/>
        <activity android:name=".EntrenamientoActivity"/>
        <activity android:name=".MenuActivity"/>
        <activity android:name=".InformacionCuentaActivity"/>
        <activity android:name=".ActivityImagenAmpliada"/>
        <activity android:name=".AmigoDetalleActivity"/>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />



    <!-- Permiso para acceder a internet, si es necesario -->
    <uses-permission android:name="android.permission.INTERNET" />






</manifest>